     /* .background{
         background-color: aqua;
     } */
    
    /* .card {
    width: 500px;
    background: white;
    padding: 20 px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
     text-align: center;
     margin: 250px auto;
    
    } */
.login-page {
    display: flex;
    justify-content: center; /* căn giữa ngang */
    align-items: center; /* căn giữa dọc */
    height: 100vh;
    background-color: aqua; /* Màu nền của trang đăng nhập */
}


.card{
    border: none;
}
.login-container{
      width: 500px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  text-align: center;
  width:  500px;
}
.title{
    font-size: 50px;
}
input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}
button {
  width: 100%;
  padding: 10px;
  background-color: #34b4c0;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
