    // .background{
    //     background-color: aqua;
    // }
    
    .card {
    width: 500px;
    background: white;
    padding: 20 px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    // text-align: center;
    margin: 250px auto;
    
    }
.login-container{
    background-color: wheat;
}

