     /* .background{
         background-color: aqua;
     } */
    
    /* .card {
    width: 500px;
    background: white;
    padding: 20 px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
     text-align: center;
     margin: 250px auto;
    
    } */
.login-page {
    display: flex;
    justify-content: center; /* căn giữa ngang */
    align-items: center; /* căn giữa dọc */
    height: 100vh;
    background-color: #6DB2B9; /* Màu nền của trang đăng nhập */
}


.card{
    border: none;
}
.login-container{
      width: 500px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  text-align: center;
  width:  500px;
}
.title{
    font-size: 50px;
}
input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}
button {
  width: 100%;
  padding: 10px;
  background-color: #34b4c0;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
label {
  display: block;
  text-align: left;
    margin-top: 10px;
    font-size: 18px;
}
.login-page {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.diamond-shape {
  width: 250px;
  height: 250px;
  background: C1E3D6;
  transform: rotate(45deg);
  position: absolute;
  border-radius: 20px;
  z-index: -1;
}

.diamond-shape.left {
  left: 5%;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.diamond-shape.right {
  right: 5%;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
