.schedule-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 80px;
  background-color: #ffffff;
  font-family: 'Segoe UI', sans-serif;
}


.schedule-content {
  max-width: 550px;
  align-items: right;
}

.schedule-content h2 {
  font-size: 28px;
  font-weight: bold;
  color: #111;
  margin-bottom: 16px;
  line-height: 1.4;
}

.schedule-content p {
  font-size: 16px;
  color: #666;
  margin-bottom: 24px;
  line-height: 1.6;
}

/* .schedule-content ul {
  list-style: none;
  padding: 0;
  margin-bottom: 24px;
}

.schedule-content li {
  font-size: 16px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  font-weight: 500;
} */

.check-icon {
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
}
.check-icon li {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  font-size: 16px;
}
.check-icon li span {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: #60c1c5;
  color: white;
  border-radius: 50%;
  text-align: center;
  line-height: 24px;
  margin-right: 12px;
  font-weight: bold;
}

.schedule-button {
  background-color: #67aeb6 ;
  color: white;
  border: none;
  padding: 14px 28px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}

/* .schedule-button:hover {
  background-color: #4a9ca0;
} */
